<template>
<div class="badge">
    <div>
        <a target="_blank" :href="'https://www.youracclaim.com/badges/'+id+'/embedded'"><img width="105" height="105" alt="" :src="img" />
        <span class="badge-name">{{name}}</span>
        </a><div class="badge-issuer" :title="issuer">
        Issuer:
        {{issuer}}
        </div>
    </div>
    <div class="provided">
    <a target="_blank" href="/">Provided by
    <span>Acclaim</span>
    </a></div>
</div>
</template>
<script lang="ts">
import {
  Component,
  Prop,
  Vue
} from "nuxt-property-decorator"

@Component({})
export default class Badge extends Vue {
  @Prop() id     : string
  @Prop() name   : string
  @Prop() issuer : string
  @Prop() img    : string
}
</script>
<style scoped>
.badge{
    margin:2px;
    padding:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    line-height:1;
    border:1px solid #e5e5e5;
    color:#333;
    font-family:Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size:0.88rem;
    padding:22px 0 0;
    text-align:center;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    width:20em;
}
.badge a{
    text-decoration:none;
}
.badge-name{
    color:#333;
    display:block;
    font-size:1rem;
    line-height:1.1em;
    margin:0 8px 8px
}
.badge-expired{
    color:#ffffff;
    background-color:#aa0000;
    text-transform:uppercase;
    font-size:0.5rem;
    display:inline-block;
    padding:0 4px;
    line-height:15px;
    margin-bottom:8px
}
.badge-issuer{
    color:#666;
    font-size:0.81rem;
    font-style:italic;
    line-height:1.1em;
    margin:0 8px;
    max-width:100%;
    overflow:hidden
}
.provided{
    background:#f0f0f0;
    border-top:1px solid #e2e2e2;
    color:#b6b6b6;
    font-size:0.44rem;
    line-height:28px;
    margin:18px 0 0;
    text-transform:uppercase;
    -moz-border-radius:0 0 3px 3px;
    -webkit-border-radius:0 0 3px 3px;
    border-radius:0 0 3px 3px
}
.provided a{
    color:#b6b6b6;
    text-decoration:none
}
.provided span{
    background-image:url(https://cdn.youracclaim.com/assets/embed/acclaim-4574247db5852ba31840afbf6bf296e6eb9ea290b8c2e54c147814344ca2e58f.png);
    background-size:37px 9px;
    background-position:left 7px;
    background-repeat:no-repeat;
    display:inline-block;
    height:28px;
    text-indent:-99999px;
    vertical-align:middle;
    width:37px
}
</style>
