<template>
    <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li :class="'pure-menu-item ' + (this.$route == 'index' ? 'pure-menu-selected' : '')">
                <router-link href="/" class="pure-menu-link">Home</router-link>
            </li>
            <li :class="'pure-menu-item' + (this.$route == 'badges' ? 'pure-menu-selected' : '')">
                <router-link href="/badges" class="pure-menu-link">Badges</router-link>
            </li>
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <router-link href="#" id="menuLink1" class="pure-menu-link">Contact</router-link>
                <ul class="pure-menu-children">
                    <li class="pure-menu-item"><router-link href="#" class="pure-menu-link">Email</router-link></li>
                    <li class="pure-menu-item"><router-link href="#" class="pure-menu-link">Twitter</router-link></li>
                    <li class="pure-menu-item"><router-link href="#" class="pure-menu-link">Tumblr Blog</router-link></li>
                </ul>
            </li>
        </ul>
    </div>
</template>

<script lang="ts">
import WithRoute from 'plugins/withroute'
import {
  Component,
  Prop,
  Vue
} from "nuxt-property-decorator"
@Component({})
export default class DropDownMenu extends Vue implements WithRoute {
    
}
</script>
