<template>
  <div>
    <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li :class="'pure-menu-item ' + (this.$route.name == 'index' ? 'pure-menu-selected' : '')">
                <router-link to="/" class="pure-menu-link">Home</router-link>
            </li>
            <li :class="'pure-menu-item ' + (this.$route.name == 'badges' ? 'pure-menu-selected' : '')">
                <router-link to="/badges" class="pure-menu-link">Badges</router-link>
            </li>
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <a href="#" id="menuLink1" class="pure-menu-link">Contact</a>
                <ul class="pure-menu-children">
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Email</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Twitter</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tumblr Blog</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <nuxt/>
  </div>
</template>

<!--<script lang="ts">
import WithRoute from 'plugins/withroute'
import {
  Component,
  Prop,
  Vue
} from "nuxt-property-decorator"
export default class DefaultLayout extends Vue implements WithRoute {

}
</script>-->
