<template>
<div>
  <!-- <drop-down-menu></drop-down-menu> -->
  <section>
    <h1 class="header">Badges</h1>
    <div class="badges">
      <Badge v-for="badge in badges" :key="badge.id" v-bind="badge"></Badge>
    </div>
  </section>
</div>
</template>

<script lang="ts">
import {
  Component,
  Vue
} from "nuxt-property-decorator"
import { State } from "vuex-class"
import Badge from "~/components/Badge.vue"
import DropDownMenu from "~/components/Menu.vue"

@Component({
  components: {
    Badge
  }
})
export default class extends Vue {
  @State badges
}
</script>
<style scoped>
.header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
</style>